header
  margin: 50px auto
  padding: 0 30px 0;
  max-width: 750px
  .site-title
    letter-spacing: 4px
    margin-bottom: 10px
    font-weight: 900
    a
      font-size: 33px
      color: #444
  .site-subtitle
    letter-spacing: 2px
    font-size: 16px
    margin-bottom: 13px
  .links
    color: #999
    font-size: 24px
    margin: 0
    a
      padding: 2px
      margin: 0 3px
      img
        width: 15px
        height: 15px